html,body{
    margin:0;
    padding:0;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
}
.resizer[data-direction="horizontal"] {
    background-color: #818181;
    cursor: ew-resize;
    height: 100%;
    width: 10px;
}
.resizer[data-direction="vertical"] {
    background-color: #818181;
    cursor: ns-resize;
    height: 10px;
    width: 100%;
}
.container__left {
    /* Initially, the left takes 1/4 width */
    width: 15%;
    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}
.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container__top {
    /* Initial height */
    height: 80%;
    width:100%;
    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}
.container__bottom {
    /* Take the remaining height */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
}